/* base */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {

  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: #555;
  ;
}

a {
  text-decoration: none;
}

image {
  align-items: center;
  max-width: 100px;
  height: auto;

}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem 2rem;
  display: inline-block;
  width: 100%;
}

.grid__item {
  width: 100%;

}

.header {

  background: #ffff;
  border-bottom: 1px solid #000;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.header li {
  display: inline-block;
  align-items: center;
  padding: 5px;
}

.header a {
  color: rgb(71, 71, 71);
}


.header a:hover {
  color: rgb(223, 22, 22);

}

svg:hover {
  fill: rgb(223, 22, 22);
}

.right {
  float: right;
}

.socials .icon {
  height: 18px;
}

.burger {
  background: none;
  border: none
}

.hero {
  background-color: rgb(13, 65, 65);
  color: aliceblue;
}

.left {
  float: left;
}

iframe {
  display: block;
  margin: 20px auto;
}